* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 16pt;
  margin: 0px;
  padding: 0px;
  user-select: none;
  user-zoom: none;
}
.body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 29, 31);
}
.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: left;
  color: rgb(255, 255, 255);
}
.header_logo {
  width: 20px;
  margin: auto 0px auto 10px;
  filter: invert();
}
.header_text {
  margin-left: 10px;
}
.header_menu {
  cursor: pointer;
  position: absolute;
  display: flex;
  right: 10px;
  width: 50px;
  height: 15px;
  padding: 2px;
  background-image: url(/arrow_fill_down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  border: 1px solid rgb(199, 183, 183);

  filter: invert();
  transition-duration: 200ms;
}
.header_menu:hover {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.37);
}
.bar_container {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 15px auto 0px auto;
}
.add_note {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 45px;
  margin-left: 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(78, 78, 78);
  transition-duration: 200ms;
}
.add_note:hover {
  box-shadow: 3px 3px 10px rgba(129, 129, 129, 0.37);
}
.add_noteText {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
}
.add_noteIcon {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  background-color: rgb(0, 94, 172);
  filter: invert();
  border-radius: 15px;
}
/* Notes */
.notes_container {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: 15px 0px 0px 0px;
}
.note_predef {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: 5px 10px 5px 10px;
  height: 30px;
  width: 120px;
  font-size: 11pt;
  color: white;
  border: 1px solid rgb(255, 145, 0);
  background-color: rgb(20, 29, 31);
  transition-duration: 300ms;
}
.note_icon {
  position: absolute;
  display: none;
  width: 20px;
  top: 0px;
  bottom: 0px;
  right: 10px;
  margin: auto;
  filter: invert();
}
.note_name {
  display: flex;
  font-size: 11pt;
}
.note_inside {
  font-size: 11pt;
}
.note_close {
  z-index: 2;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 5px;
  background-image: url(/close.svg);
  background-size: cover;

  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.note_close:hover {
  background-color: rgb(182, 182, 182);
}

/** ------------------------------------ **/
.footer {
  position: absolute;
  display: grid;
  bottom: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 10px;
  box-shadow: 0px -2px 3px black;
}
.footergrid1 {
  background-color: rgb(34, 40, 49);
}
.footergrid2 {
  background-color: rgb(57, 62, 70);
}
.footergrid3 {
  background-color: rgb(0, 173, 181);
}
.footergrid4 {
  background-color: rgb(238, 238, 238);
}
