* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 12pt;
  margin: 0px;
  padding: 0px;
  user-select: none;
  user-zoom: none;
}
.body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
}
.header {
  width: 100%;
  height: 60px;
  background-color: white;
}
.header-icon {
  width: 30px;
  margin-right: 10px;
}
.header-title {
  height: fit-content;
  width: fit-content;
  font-weight: lighter;
  font-size: 16pt;
}
/* Header */
/* Menu Panel */
.btn-menu {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: white;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 110, 255);
}
.btn-menu:hover {
  color: rgb(0, 110, 255);
  border: 1px solid rgb(0, 110, 255);
  background-color: white;
}
.btn-menu-cover {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: white;
  background-color: rgb(0, 110, 255);
  border: 1px solid rgb(0, 110, 255);
}
.over-btn-home {
  animation: animOverBtnHome 200ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);
}
.out-btn-home {
  animation: animOutBtnHome 200ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes animOverBtnHome {
  0% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 0px;
    height: 0%;
  }
}
@keyframes animOutBtnHome {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}
@keyframes animOverBtnHome {
  0% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 0px;
    height: 0%;
  }
}

.sidebar {
  position: absolute;
  bottom: 40px;
  left: 20px;
  height: 0px;
  width: 30px;
  border-radius: 8px;
  background-color: rgb(0, 110, 255);
}
.openSidebar {
  animation: openSidebar 200ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);
}
.closeSidebar {
  animation: closeSidebar 200ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes openSidebar {
  0% {
    height: 0px;
  }
  100% {
    height: 300px;
  }
}
@keyframes closeSidebar {
  0% {
    height: 300px;
  }
  100% {
    height: 0px;
  }
}
/* Menu Panel */
.notes-box {
  width: calc(100% - 20px);
  height: calc(100% - 150px);
}
.note-style-def {
  flex-direction: column;
  align-items: start !important;

  height: 80px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
.note-title-def {
  font-weight: bold;
  font-size: 14pt;
  margin-left: 10px;
  height: fit-content;
  width: fit-content;
}

.note-desc-def {
  margin-left: 10px;
  height: fit-content;
  width: fit-content;
}
